.gallery {
    max-width: 1200px;
}


@media screen and (min-width: 1200px) {
    .gallery {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }
}

.gallery__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

@media screen and (max-width: 1199px) {
    .gallery__link:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__link {
        margin-left: 30px;
        margin-bottom: 30px;
    }
}

.gallery__link:hover {
    cursor: zoom-in;
}

.gallery__card {
    overflow: hidden;
}

@media screen and (min-width: 1200px) {
    .gallery__card {
        height: 150px;
    }
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    object-fit: cover;

}

@media screen and (min-width:1200px) {
    .photo-card {
        width: 270px;
    }
}

.photo-card:hover {
    transform: scale(1.03);
}

.gallery__info-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery__info-item {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

@media screen and (min-width: 1200px) {
    .gallery-info__item {
        font-size: 10px;
    }
}

